<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.dublin.bus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bus_oval"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bus_oval"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.view.splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPL9RJyZNpjGp4soat--QlwJuBm0bnZEA" />

        <activity
            android:name=".ui.view.realtime.RealTimeActivity"
            android:label="@string/title_real_time"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:theme="@style/AppTheme.Teal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.route.detail.RouteDetailActivity"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:theme="@style/AppTheme.Orange">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.near.NearActivity"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:theme="@style/AppTheme.Purple">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.search.SearchActivity"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:theme="@style/AppTheme.White">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.timetable.TimetablesActivity"
            android:parentActivityName=".ui.view.route.detail.RouteDetailActivity"
            android:theme="@style/AppTheme.Blue">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.route.detail.RouteDetailActivity" />
        </activity>

        <service
            android:name=".data.sync.SyncIntentService"
            android:exported="false" />

        <service
            android:name=".data.sync.SyncFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>